<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">FoodOS</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../help/">Home</a>
                </li>
                <li>
                    <a href="http://news.bootswatch.com">Menu</a>
                </li>
                <li>
                    <a href="http://news.bootswatch.com">Contact</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_security_login') }}">Login/Register</a></li>
            </ul>

        </div>
    </div>
</div>